.home-page{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 600px;
    /* border: 1px solid rosybrown; */
}
.text-area{
    /* border: 1px solid rosybrown; */
    margin-bottom: 0;
    padding: 20px;
}
.next{
    font-size: 30px;
    font-weight: 900;
}
.best{
    font-size: 30px;
    color: crimson;
    font-weight: 900;
}
.demo-btn{
    padding: 10px;
    border: 0;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.demo-btn:hover{
    background-color: red;
}
.button-area{
    text-align: center;
}
.review-btn{
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.review-btn:hover{
    background-color: red;

}
.button-area button{
    text-align: center;
}